

/*************SECON PAGE**************
**************************************/
.subscription{
     border: 1px solid black;   
     margin: 0 auto;
     margin-bottom: 5px;
     position: relative;   
 }
 .subscription h4{
     padding-right: 15px;
 }
 .show{
     position: absolute;
     top: 70%;
     left: 85%;  
 }
 .howWorks h3{
     text-decoration: underline;
 }
  .howWorks p{
     display: none;   
 }
 .howWorks figure img{
     display: none;
 }
 .howWorks article:hover figure img{
    display: block;   
 }
 .howWorks article:hover p{
    display: block;  
 }
 .howWorks article:hover span.fa-arrow-down{
    display: none;
 }
 .howWorks article{
     padding: 20px;
 }
 .howWorks h4{
      text-decoration: underline;  
      font-weight: bold;
 }
 .question .breadcrumb li a{
     font-size: 11px;
 }
 .question .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fcecea;
}
.question p{
    margin-left: 30px;
}
.question h3{
    font-weight: bold;
    text-decoration: underline;
    
}

/*************THIRT PAGE**************
**************************************/

.createAccount{
    background-color: #fcecea;
    margin-bottom: 50px;
    padding-top: 80px;
}
.createAccount h2{
    margin-top: 10px;
}

.createAccount span{
    color: #4c6fa4;
}
.createAccount button{
    width: 100%;
    margin-top: 15px;
    border-radius: 0;
}
.createAccount button:hover{
   background: #fff;
}
.createAccount form{
    max-width: 430px;
    margin: 0 auto;
}

.createAccount .form-control{
    border-radius: 0;
}
.createAccount .radio,.createAccount .checkbox {
    
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.amika-bg p{
    margin-top: 20px;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
}
div.btn-group:nth-child(8) > button:nth-child(1){
    background-color: #4c6fa4;
    margin-top: 20px;
    color: #fff;
}

/*************FOURTH PAGE**************
**************************************/

.box-bg{
    margin-top: 30px;
}

.threePic{
    background: url('style-images/girls.png') no-repeat center center;
    padding: 20px;
}
.whatInBox h1{
    font-style: italic;
    text-decoration: underline;
}
.moderan {
    margin: 0 auto;
    width: 80%;
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.moderan figure{
    height: 72px;
    width: 60px;
    padding-bottom: 15px;
}
.moderan figure img{
    height: 100%;
    width: 100%;
}
.moderan article{
    padding: 20px;
}

.moderan .btn {
    display: inline-block;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    border: 2px solid black;
    background: transparent;
    padding: 5px;
    border-radius: 0;
    font-weight: bold;
}
.moderan .btn:hover{
    background: black;
    color: white;
}
.youWish{
    margin: 0 auto;
}
.youWish .btn {
    display: inline-block;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    background: transparent;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 10px;
    font-weight: bold;
}
.youWish .btn:hover{
    background: black;
    color: white;
}
/*************BLOG PAGE**************
**************************************/
.blog{
    padding-top: 80px;
}
.blog h3{
    text-decoration: underline;
    font-style: italic;
}
.blog .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
.blog a.pink{
    padding: 10px 10px;  
}
.blog a.pink:hover{
    color: #fff;
    
}
.blog ul.right > li:nth-child(2){
    margin-top: 11px;
    margin-left: -14px;
}
.blog .left{
    text-align: center;
    font-size: 18px;
}

.blog .right{
    text-align: center;
}
.blog span.fa-instagram:hover,
.rightT span.fa-instagram:hover{
    color: #883e21;  
}
.blog span.fa-twitter:hover{
    color: #3bd1f6;
}
.rightT span.fa-twitter:hover{
    color: #1616e7;
}
.blog span.fa-pinterest:hover,
.rightT span.fa-pinterest:hover{
    color: #e7161b;
}
.blog span.fa-facebook:hover,
.rightT span.fa-facebook:hover{
    color: #1616e7;
}
.amika .amika-bg{
    background:#bbed8a; 
}
.amika-col{
    padding-right: 0;
}
.amika-bg{
    padding: 20px;
}
.amika-bg a{
    border: 1px solid #000;
    padding: 10px 30px;
    text-align: center;
    display: block;
    text-align: center;
}
.amika-bg a:hover{
    color: #222;
    background: #fff;
}
.bestOff{
    margin-top: 10px;
}
.bestOff h3{
    text-decoration: underline;
}
.bestOff img{
    padding: 20px 10px;
}
.bestOff .media-body p {
    margin-top: 20px;
    display: inline-block;
}
.bestOff .media-body p.secondP {
    margin-top: 0;
}
.onama h3{
    text-align: center;
    text-decoration: underline;
    
}
.newBox h3{
    text-decoration: underline;
    font-weight: 500;
}
.newBox a{
    border: 1px solid #000;
    padding: 10px 30px;
    text-align: center;
    display: block;
    max-width: 90%;
    margin: 0 auto 20px;
    
}
.newBox a:hover{
    color: #222;
    background: #fff;
}
.thumbnail{
    padding-top: 30px;
    padding-bottom: 30px;
}
.thumbnail h3{
    text-align: left;
}
.thumbnail .rightT{
        margin-left: 20px;
    }
    .media-left, .media > .pull-left {
    padding-right: 0;
}
.bestOff .list-unstyled {
    padding-left: 0;
    list-style: none;
    display: inline-block;
}
.bestOff .bla-right{
    margin-left: 10%;
}
