/********************HEADER********************/
header{
    position: fixed;   
    background: #fff;
    width: 100%;
    z-index: 50;
}
.navbar-default{
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-toggle {
    border: none;
    margin-top: 15px;
}
.navbar-default .navbar-toggle:hover {
    background-color: #fcecea;
}
.navbar-default .navbar-toggle:focus{
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #111;
}
.navbar-default .navbar-nav > li > a {
    color: #222;
}
.navbar-toggle .icon-bar {
    width: 23px;
    height: 5px;
}
.navbar-toggle{
    float: left;
    margin-right: 5px;
}
.nav > li > a{
    padding: 0;
    margin: 30px 15px 0;
}
.nav li a{
    color: #222;
}
.nav > li > a:hover{
    font-weight: bold;
}
.nav li a:hover{
    color: #222;
    border-bottom: 1px solid #222;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    padding-left: 8px;
}
.nav .dropdown-content{
    min-width: 300px;
}
.dropdown-content a {
    padding: 6px 8px;
    display: inline-block;
}
.dropdown:hover .drop-link {
    border-bottom: 1px solid #222;
    padding-bottom: 0;
    color: #222;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
    background: #fff;
}
.dropdown-content li a:hover{
    border-bottom: none;
}
.sub-drop{
    display: none;
    position: absolute;
    background: #fff;
    z-index: 5;
    padding: 0 15px;
}
.dropdown2 li:hover .sub-drop{
    display: block;
}
.sub-drop li a{
    padding: 6px 30px;
}
.nav li.cart a{
    background: url("style-images/cart.png")no-repeat center center;
    width: 20px;
    height: 26px;
    margin-top: 15px;
    position: relative;
}
li.cart{
    position: relative;
    display: none;
}
li.cart .badge,
.cart-pink .badge{
    background: #fff;
    color: #222;
    border: 1px solid #222;
    font-size: 8px;
    padding: 2px 4px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -3px;
}
a.cart-pink{
    background: url("style-images/cart-pink.png")no-repeat center center;
    width: 19px;
    height: 26px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.search-t button {
    background: url("style-images/search.png")no-repeat center center;
    height: 25px;
    width: 25px;
}
.search-t .btn-default {
    border: none;
}
.search-t .btn{
    padding: 0;
    margin-top: 10px;
}
.search-t .btn-default:hover, .search-t .btn-default:focus, .search-t .btn-default.focus,
.search-t .btn-default:active,.search-t .btn-default.active,.search-t .open > .dropdown-toggle.btn-default {
    background-color: transparent;
}
.navbar-form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    display: none;
    background: transparent;
}
.navbar-form {
    margin-right: 0;
}
.navbar-right li:hover  .form-control {
    display: inline-block;
}
.nav .hide-small{
    display: none;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
/*********************FOOTER***********************/
.footer-top{
    padding-top: 10px;
    padding-bottom: 40px;
}
.footer-top a{
    color: #666;
}
.footer-top a:hover{
    color: #222;
}
.footer-top p, .footer-top h5{
    font-weight: bold;
}
.footer-top .col-md-7{
    padding-top: 40px;
    text-align: center;
}
.footer-top .col-md-5{
    padding-top: 20px;
}
.mailus{
    font-weight: normal;
    margin-top: 35px;
}
.footer-top figure{
    max-height: 29px;
    max-width: 32px;
}
.footer-top img{
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.footer-top .form-control{
    float: left;
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    margin-right: 10px;
    width: 70%;
}
.footer-top .form-group{
    margin-bottom: 25px;
}
.footer-top button.ok{
    float: left;
    padding: 18px 20px;
    margin-top: -25px;
    border: 2px solid #222;
    font-weight: bold;
    background: transparent;
}
.footer-top button.ok:hover{
    background: #f6c1ba;
}
.footer-top .social-t{
    text-align: center;
}
.footer-top ul li a span.fa{
    font-size: 22px;
    font-weight: bold;
    color: #222;
}
.social-t span.fa-instagram:hover{
    color: #883e21;  
}
.social-t span.fa-twitter:hover{
    color: #3bd1f6;
}
.social-t span.fa-pinterest:hover{
    color: #e7161b;
}
.social-t span.fa-facebook:hover{
    color: #1616e7;
}
.footer-bottom{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.footer-bottom p{
    margin-bottom: 0;
}
.footer-bottom a{
    color: #fff;
}
.footer-bottom a:hover{
    color: #f6c1ba;
}

/***************************************/
/*            HOME PAGE                */
/***************************************/
/**********SECTION "main-slider"*********/
.main-slide{
    padding-top: 80px;
    position: relative;
}
.main-slide img,
.main-img img{
    width: 100%;
}
.main-slide a.left{
    background: url("style-images/main-left.png")no-repeat center center;
}
.main-slide a.right{
    background: url("style-images/main-right.png")no-repeat center center;
}
.main-slide .carousel-control:hover, .main-slide .carousel-control:focus {  
    opacity: 0.5;
}
.main-slide .carousel-caption{
    width: 50%;
    left: 10%;
    top: 30%;
    text-align: left;
    color: #fff;
    text-shadow: none;
    padding: 10px;
    display: none;
}
.main-slide .carousel-caption a{
    padding: 10px 25px;
    background: #fcecea;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #fff;
    color: #222;
}
.main-slide .carousel-caption a:hover{
    color: #222;
    background: #fff;
    border: 1px solid #222;
}
/**********SECTION "get-started"*********/
.get-started{
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    display: none;
}
.get-started a{
    display: block;
    width: 150px;
    padding: 5px 0;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #222;
    font-weight: bold;
}
.get-started a:hover{
    color: #222;
    background: #fff;
}
.get-started-pink{
    position: fixed;
    bottom: 0;
    z-index: 15;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    background: #f9cdc6;
}
.get-started-pink a{
    display: block;
    margin-top: 5px;
}
.get-started-pink .first-pink{
    margin-top: 10px;
}
/**********SECTION "surprise"*********/
.surprise{
    margin-top: 30px;
    margin-bottom: 25px;
}
.surprise h2{
    text-decoration: underline;
    font-style: italic;
}
.surprise figure{
    max-width: 370px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-top: 40px;
    overflow: hidden;
}
.surprise figure img{
    max-width: 100%;
    max-height: 100%;
    transition-duration: 1s;
    transition-property: all;
}
.surprise figure img:hover{
    cursor: url("style-images/cursor.png"), auto;
    transform: scale(1.2);
}
.surprise .row p{
    margin-bottom: 30px;
}
.surprise a.link{
    width: 160px;
    padding: 10px 20px;
    border: 2px solid #222;
}
.surprise a.link:hover{
    background: #66b5ff;
    color: #222;
}
/**********SECTION "shop-t"*********/
.shop-t{
    background: url("style-images/blue.png")no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    margin-bottom: 30px;
}
.shop-t figure{
    max-width: 185px;
    max-height: 95px;
}
.shop-t figure img,
.arrived figure img,
.product-group-t figure img{
    max-width: 100%;
    max-height: 100%;
}
.shop-t h2{
    text-decoration: underline;
    font-weight: bold;
}
.shop-t h4{
    color:#0000ff;
    margin-bottom: 40px;
}
.shop-t a.link{
    width: 160px;
    padding: 10px 8px;
    border: 2px solid #222;
}
.shop-t a.link:hover{
    background: #66b5ff;
    color: #222;
}
/**********SECTION "arrived"*********/
.arrived ul{
    border-bottom: 1px solid #222;
    margin-bottom: 30px;
}
.arrived ul li a{
    color: #3f90dc;
}
.arrived ul li a:hover{
    color: #f6c1ba;
}
.arrived figure{
    margin: 0 auto;
    margin-bottom: 30px;
    max-height: 390px;
    max-width: 270px;
}
.product-t{
    position: relative;
    max-width: 270px;
    margin: 0 auto;
}
.product-t figure{
    overflow: hidden;
}
.product-group-t figure{
    overflow: hidden;
}
.product-t figure.animate img,
.product-group-t figure img{
    transition-duration: 1s;
    transition-property: all;
}
.product-t figure.animate img:hover,
.product-group-t:hover img{
    transform: scale(1.2);
}
.product-t-hover{
    background: rgba(240,219,216,0.8);
    padding: 20px 0 0 10px;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.product-t:hover .product-t-hover{
    display: block;
}
.product-t-hover p{
    margin-bottom: 5px;
}
.product-t-hover a{
    display: block;
    width: 60%;
    font-weight: bold;
    padding: 5px 0;
    margin: 0 auto;
}
.product-t-hover a:hover{
    background: #fff;
    color: #222;
}
.arrived h4.underline{
    text-decoration: underline;
    font-weight: bold;
}
.product-group-t figure{
    margin: 0 auto;
    margin-bottom: 30px;
    max-height: 250px;
    max-width: 270px;
}
.product-group-t{
    position: relative;
    max-width: 270px;
    margin: 0 auto;
}
.product-group-hover p{
    font-size: 12px;
}
.product-group-hover h5{
    font-weight: bold;
}
.product-group-hover{
    background: rgba(248,205,200,0.8);
    padding: 80px 10px 55px 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.product-group-t:hover .product-group-hover{
    display: block;
}
/**********SECTION "loved-brands"*********/
.loved-brands h4{
    border-bottom: 1px solid #222;
    font-weight: bold;
}
.loved-brands #owl{
    border-bottom: 1px solid #222;
}
/**********SECTION "earn-money"*********/
.earn-money{
    margin-top: 25px;
    margin-bottom: 30px;
}
.earn-money p{
    margin-top: 15px;
}
/***************************************/
/*            SHOP PAGE                */
/***************************************/
/**********SECTION "main-img"*********/
.main-img{
    padding-top: 80px;
    position: relative;
    z-index: -1;
}
.box-t{
    position: absolute;
    top: 30%;
    bottom: 20%;
    left: 55%;
    right: 0;
    display: none;
}
.line{
    width: 10px;
    border-top: 2px solid #222;
    height: 10px;
}
.box-t p{
    margin-bottom: 0;
}
/**********SECTION "filters-nav"*********/
.filter-large{
    display: none;
}
.filters-nav{
    padding: 20px 0;
}
.filters-nav .cog-filter{
    display: block;
    text-align: center;
}
.filters-nav .cog-filter:hover{
    border-bottom: none;
}
.filters-hide{
    display: none;
}
.filters-nav a{
    text-decoration: none;
}
.filters-nav a:hover{
    color: #66b5ff;
    border-bottom: 2px solid #f6c1ba;
}
.filters-nav a:focus{
    color: #222;
    outline: none;
}
.filters-nav .breadcrumb{
    background: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.filters-nav .breadcrumb li.active,
.single-nav .breadcrumb li.active{
    color: #111;
    font-weight: 500;
}
.sort-products ul{
    margin-top: 20px;
    left: -5px;
    border: 1px solid #222;
    background: #fff;
    z-index: 3;
    padding: 5px;
}
.sort-products .dropdown-content{
    width: 160px;
}
.sort-products .dropdown-content a{
    padding: 0;
}
.sort-products:hover .dropdown-content {
    background: #fff;
}
.sort-products:hover .drop-link{
    border-bottom: none;
}
.filters-nav .top-pagination{
    padding-left: 70px;
}
.filters-nav .top-pagination li a:hover,
.filters-nav .bottom-pagination li a:hover{
    color: #66b5ff;
    border: none;
}
li.slash{
    padding: 0;
}
.bottom-pagination{
    margin-top: 30px;
    margin-bottom: 70px;
}
/**********SECTION "arrived"*********/
.arrived .smiley{
    position: absolute;
    top: 15px;
    right: -15px;    
}
.arrived .smiley-p{
    position: absolute;
    top: 0;
    right: -20px;
}
.arrived a.cat-face{
    color: #222;
    display: none;
}
.arrived ul.cat-filter{
    border-bottom: none;
    margin-bottom: 5px;
}
.arrived .cat-filter li span{
    padding-left: 10px;
}
.arrived ul.cat-filter li:hover a.cat-face{
    color: #222;
    display: inline-block;
}
.arrived label:hover{
    font-weight: bold;
}
.arrived .products-show{
    display: none;
}
.arrived a.hide-filter{
    font-family: 'arial';
    font-weight: bolder;
}
.arrived .filter-category p:first-of-type{
    margin-top: 20px;
}
/***************************************/
/*             LOGIN PAGE              */
/***************************************/
.logPg{
    padding-top: 80px;
}
/***************************************/
/*             USER PANEL              */
/***************************************/
.navigate-user{
    padding-top: 80px;
}
/***************************************/
/*          HOME-LOGGED PAGE           */
/***************************************/
.se
ul.logged-t li ul{
    background: none !important;
}
ul.logged-t li ul li a{
    margin-top: 5px;
}
ul.logged-t li ul li a.link:hover{
    background: #f6c1ba;
}
.surprise-log{
    margin-bottom: 50px;
}
.surprise-log h2{
    margin-bottom: 50px;
}
.surprise-log a.bottom-line:hover{
    color: #f6c1ba;
}
.surprise-log .acc-links a{
    display: block;
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
.surprise-log ul li{
    width: 32%;
}
.surprise-log ul li a{
    font-weight: bold;
    font-size: 25px; 
}
.surprise-log ul li span{
    font-weight: bolder;
}
a.log-point{
    color: #0433fd;
}
.surprise-log div.pink{
    padding: 40px;
    font-size: 13px;
}
.surprise-log div.pink a{
    background: #fff;
    border: 2px solid #222;
    padding: 10px;
    font-size: 16px;
}
.surprise-log div.pink a:hover{
    background: transparent;
    color: #222;
}

/***************************************/
/*          SINGLE-PRODUCT PAGE        */
/***************************************/
.single-products figure{
    max-height: 660px;
    max-width: 435px;
    overflow: hidden;
}
.single-products figure img{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    transition-property: all;
}
.single-products figure img:hover{
    transform: scale(1.2);
}
.single-nav{
    padding-top: 70px;
}
.single-nav .breadcrumb{
    background: none;
    color: #777;
}
.single-nav .breadcrumb li a{
    color: #777;
}
.single-nav .breadcrumb li a:hover{
    color: #66b5ff;
    border-bottom: 1px solid #f6c1ba;
}
.single-details h2{
    text-decoration: underline;
    margin-bottom: 15px;
}
.single-details a.gray{
    text-decoration: underline;
    display: inline-block;
    padding-bottom: 25px;
}
.single-details a.gray:hover{
    color: #222;
    font-weight: bold;
}
.single-details form{
    margin-top: 30px;
    border: 1px solid #222;
    padding: 5px;
}
.single-details ul.product-single{
    border: 1px solid #222;
    margin-top: 30px;
}
.single-details ul.product-single li.single-shop{
    padding-left: 10px;
    padding-right: 10px; 
    border-left: 1px solid #ccc;
}
.single-details ul.product-single li.single-shop:hover{
    background: #f6c1ba;
    border-left: 1px solid #222;
}
.single-details ul.product-single li.single-shop:hover a{
    color: #222;
}
.single-details .product-single li.price{
    padding-left: 5px;
    padding-right: 5px;
}
.single-products ul.product-single li{
    height: 35px;
    padding-top: 8px;
}
.comments{
    margin-top: 90px;
}
ul.comments{
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    padding: 10px 0;
}
ul.comments li a:hover,
ul.comments li a:focus{
    color: #222;
    font-weight: bold;
}
.single-details .leave-comm a{
    color: #a8a8a8;
    text-decoration: underline;
}
.single-details textarea{
    border-radius: 0;
}
.single-details .hide-comment{
    display: none;
    margin-bottom: 20px;
}
.hide-comment button{
    margin-top: 15px;
    padding: 5px 15px;
    color: #222;
    background: #fff;
}
.hide-comment button:hover{
    background: #f6c1ba;
    color: #222;
}
.user-comment{
    height: 160px;
    overflow: scroll;
    display: none;
}
.other-products h4{
    margin-top: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid #2d2d2d;
}
.other-products p{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.other-products{
    margin-bottom: 50px;
}
.other-products figure{
    max-height: 245px;
    max-width: 170px;
    overflow: hidden;
}
.other-products figure img{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    transition-property: all;
}
.other-products figure img:hover{
    transform: scale(1.2);
}
