@media (min-width: 768px) { 
    .moderan {
        margin: 0 auto;
        width: 100%;
        background: #fff;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 30px 10px;
    }
    .moderan p{
        margin-top: 15px;
    }
    .moderan p.avantu{
        margin-top: -5px;
    }
    .createAccount{
        padding-top: 150px;
    }
    .howWorks{
        margin-top: -180px;
    }
    .blog{
        padding-top: 120px;
    }
}
@media (min-width: 992px) {
    .youWish {
        margin: 0 auto;
        margin-top: 50px;
    }
    .howWorks{
        margin-top: -200px;
    }
    .moderan {
        padding: 40px 10px 30px;
    }
    .moderan p{
        margin-top: 20px;
    }
    .moderan p.avantu{
        margin-top: 0;
    }
    .question h3 {
        margin-top: 50px;
    }
    .blog{
        padding-top: 140px;
        margin-bottom: 30px;
    }
    .blog .left {
        margin-top: 25px;
        text-align: left;
        font-size: 24px;
    }
    .blog .right{
        margin-top: 5px;
    }
    .amika-bg p{
        margin-top: 40px;
    }
    .amika-bg a {
        margin: 0 auto;
        width: 270px;
        margin-top: 30px;
        margin-bottom: 34px;
    }   
    .onama{
        padding-left: 0;
    }
}
@media (min-width: 1200px) {
    .howWorks{
        margin-top: -280px;
    }
    .howWorks p{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .howWorks h3{
        font-size: 53px;
        text-decoration: none;
        margin-bottom: 30px;
        display: inline-block;
        border-bottom: 2px solid #222;
    }
    .howWorks article {
    padding: 10px 20px;
}
    .question h3{
        font-size: 53px;
    }
    .howWorks h4{
        font-size: 36px;
    }
    div.col-sm-4:nth-child(2) > article:nth-child(1) > h4:nth-child(1){
        padding-right: 30px;
    }
    .question{
        padding-top: 30px;
    }
    .moderan {
        margin: 0 auto;
        width: 100%;
        background: #fff;
        padding: 40px 10px 30px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .moderan p{
        margin-top: 45px;
        font-size: 36px;
        text-decoration: underline;
    }
    .moderan p.avantu{
        margin-top: 12px;
    }
    .moderan .btn {
        display: inline-block;
        font-size: 16px;
        text-align: center;
        border: 2px solid black;
        background: transparent;
        padding: 15px 35px;
        border-radius: 0;
        margin-top: 150px;
        height: 60px;
    }
    .moderan button.avant{
        margin-top: 130px;
    }
    .amika{
        margin-bottom: 30px;
    }
    .amika-bg p{
        margin-top: 60px;
    }
    .amika-bg p.text-center:nth-child(3){

    }
    .amika-bg a {
        border: 1px solid #000;
        padding: 10px 30px;
        margin: 0 auto;
        display: block;
        width: 270px;
        margin-top: 60px;
        margin-bottom: 68px;
    } 
    
    .BO{
        margin-bottom: 310px;
    }
    .question .breadcrumb li a{
        font-size: 18px;
    }
    .show{
        position: absolute;
        top: 80%;
        left: 85%;  
    }
    .youWish article{
        text-align: left;
    }
    .whatYour{
        margin: 20px auto;
        margin-bottom: 50px;
    }
    .whatinBox{
        margin: 50px auto;
    }
    .threePic{
        margin-bottom: 50px;
    }
    .thumbnail{
        margin-bottom: 0;
    }
    .thumbnail .rightT{
        margin-left: 70px;
    }
    .bestOff .list-unstyled {
        padding-left: 0;
        list-style: none;
        display: inline-block;
        margin-top: 10px;
    }
    .youWish button{
        height: 60px;
        width: 270px;
    }
}


